<div class="party-invoice">
  <div class="expense-statement-content">
    <div class="company-details">
      <h1 class="text-center company-name">JMR LOGISTICS</h1>
      <h3 class="text-center head-office">HEAD OFFICE</h3>
      <h4 class="text-center office-details">Shop No 15, Palla More, Old GT Road, Near Wine Shop, Alipur, Delhi-110036</h4>
      <h4 class="text-center office-details">E-mail: jmrlogistics16@gmail.com</h4>
      <h4 class="text-center office-details">Phone: 9212666550, 9910680644, 9999778668</h4>
      <h3 class="text-center head-office"><%= payments[0].party_name %></h3>

      <h4 class="text-center report-title">Ledger Account</h4>
    </div>
  </div>
  <div class="big-font space-mx invoice-statement">
    <table class="table table-condensed">
      <tbody>
      <tr class="table-header">
        <td >Date</td>
        <td >Particular</td>
        <td >Amount (Rs)</td>
        <td >TDS (Rs)</td>
        <td >Debit</td>
        <td >Credit</td>
        <td >Balance</td>
      </tr>
      <tr>
        <td></td>
        <td>Opening Balance </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= balance %> </td>
      </tr>
      <% payments.each do |payment| %>
        <% if payment.instance_of? PartyInvoice %>
          <tr>
            <td><%= payment.date %></td>
            <td class="ledger-particular" style="white-space:pre-wrap; word-wrap:break-word"> Freight Forward; Bill No. - <%= payment.invoice_number %>
 G.R. No. - <%= payment.get_all_gr_numbers %> </td>
            <td><%= payment.invoice_total %></td>
            <td><%= (payment.invoice_total * payment.bills[0].tds_percentage/100) %> </td>
            <td><%= payment.invoice_total - (payment.invoice_total * payment.bills[0].tds_percentage/100)%></td>
            <td></td>
            <td><%= balance = (balance + (payment.invoice_total - (payment.invoice_total * payment.bills[0].tds_percentage/100)))%> </td>
          </tr>
        <% elsif payment.instance_of? PaymentReceipt %>
          <tr>
            <td><%= payment.date %></td>
            <td class="ledger-particular"> <%= payment.depository_bank %>;  Mode: <%= payment.mode_of_payment %>
            <% if "cheque".eql? payment.mode_of_payment %>
              ; Cheque No: <%= payment.cheque_number %>
                <% end %></td>
            <td></td>
            <td></td>
            <td></td>
            <td><%= payment.amount %></td>
            <td><%= balance = (balance - payment.amount) %></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>