<div class="jumbotron">
  <div class="heading-2">
    <h4>Party</h4>
  </div>
  <div class="show">
    <table class="table table-striped">
      <tr>
        <td class="row-right">
          <strong>Party Name:</strong>
        </td>
        <td>
          <%= @party.party_name%>

        </td>
        <td class="row-right">
          <strong>Party Code:</strong>
        </td>
        <td>
          <%= @party.party_code %>
        </td>
      </tr>
      <tr>
        <td class="row-right">
          <strong>GSTIN:</strong>
        </td>
        <td>
          <%= @party.gst_in %>
        </td>
        <td class="row-right">
          <strong>Address:</strong>
        </td>
        <td>
          <%= @party.address %>
        </td>
      </tr>
    </table>

    <div style="text-align:right;width:100%">
    <span style="float:left">
      <h5>Opening Balances</h5>
    </span>
      <p style="float:right; font-size:13px;"><%= link_to 'Add Opening Balance', new_party_opening_balance_path(@party.id) %></p>
    </div>
    <% if @party.opening_balances.empty? %>
      <div class="no-record">
        No Opening Balances for this party yet.
      </div>
    <% else %>
      <table class="table table-striped">
        <% @party.opening_balances.each do |opening_balance| %>
          <tr>
            <td class="row-right">
              <strong>Year:</strong>
            </td>
            <td>
              <%= opening_balance.year %>
            </td>

            <td class="row-right">
              <strong>Balance:</strong>
            </td>
            <td>
              <%= number_to_indian_currency(opening_balance.balance, text: 'Rs ') %>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>

  </div>
  <%= link_to 'Back', parties_path, class: "btn btn-lg btn-primary" %>
</div>