<% if !@party_invoices.nil? and !@party_invoices.empty? %>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Party Code</th>
      <th>Party Name</th>
      <th>Invoice Number</th>
      <th>Invoice Date</th>
      <th colspan="2"></th>
    </tr>
    </thead>

    <tbody>
    <% @party_invoices.each do |party_invoice| %>
        <tr>
          <td><%= party_invoice.party_code %></td>
          <td><%= party_invoice.party_name %></td>
          <td><%= party_invoice.invoice_number %></td>
          <td><%= party_invoice.date %></td>
          <td align="center"><%= link_to 'Show', party_invoice_path(party_invoice), class: 'button small radius' %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p>No Party Invoices to Display</p>
<% end %>