<div class="party-invoice">
  <div class="party-invoice-content">
    <div class="company-details">
      <h1 class="text-center company-name">JMR LOGISTICS</h1>
      <h3 class="text-center head-office">HEAD OFFICE</h3>
      <h4 class="text-center office-details">Shop No 15, Palla More, Old GT Road, Near Wine Shop, Alipur, Delhi-110036</h4>
      <h4 class="text-center office-details">E-mail: jmrlogistics16@gmail.com</h4>
      <h4 class="text-center office-details">Phone: 9212666550, 9910680644, 9999778668</h4>
      <h4 class="text-center report-title">Invoice Statement</h4>
    </div>
  </div>
  <div class="big-font space-mx invoice-statement">
    <table class="table table-condensed">
      <tbody>
      <tr class="table-header">
        <td>Date</td>
        <td>Invoice Number</td>
        <td>Party Name & Address</td>
        <td>Party GST Number</td>
        <td>Amount (Rs)</td>
        <td>Remarks</td>
      </tr>
      <% party_invoices.each do |party_invoice| %>
        <tr>
          <td><%= party_invoice.invoice_date %></td>
          <td><%= party_invoice.invoice_number %></td>
          <td><%= party_invoice.party_name %>, <%= party_invoice.party.address %></td>
          <td><%= party_invoice.party.gst_in %></td>
          <td><%= number_to_indian_currency(party_invoice.invoice_amount, text: '') %></td>
          <td></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>