<div class="party-invoice">
  <div class="big-font space-mx invoice-statement">
    <table class="table table-condensed">
      <tbody>
      <tr class="table-header">
        <td>Date</td>
        <td>Invoice Number</td>
        <td>Party Name & Address</td>
        <td>Party GST Number</td>
        <td>Amount (Rs)</td>
        <td>Remarks</td>
      </tr>
      <% party_invoices.each do |party_invoice| %>
        <tr>
          <td><%= party_invoice.invoice_date %></td>
          <td><%= party_invoice.invoice_number %></td>
          <td><%= party_invoice.party_name %>, <%= party_invoice.party.address %></td>
          <td><%= party_invoice.party.gst_in %></td>
          <td><%= number_to_indian_currency(party_invoice.invoice_amount, text: '') %></td>
          <td></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>