<div class="jumbotron">
  <div class="heading-2" style="text-align:right;width:100%">
    <span style="float:left">
      <h4>Party Invoice</h4>
    </span>
  </div>
  <div class="show">
    <table class="table table-striped">
      <tr>
        <td class="row-right">
          <strong>Party Code:</strong>
        </td>
        <td>
          <%= @party_invoice.party_code%>

        </td>
        <td class="row-right">
          <strong>Party Name:</strong>
        </td>
        <td>
          <%= @party_invoice.party_name %>
        </td>
      </tr>
      <tr>
        <td class="row-right">
          <strong>Invoice Number:</strong>
        </td>
        <td>
          <%= @party_invoice.invoice_number %>
        </td>
        <td class="row-right">
          <strong>Invoice Date:</strong>
        </td>
        <td>
          <%= @party_invoice.invoice_date %>
        </td>
      </tr>
    </table>
    <% if !@party_invoice.bills.empty? %>
      <table class="table table-striped">
      <thead>
      <tr>
        <th>Date</th>
        <th>G R Number</th>
        <th>Truck Number</th>
        <th>Weight</th>
        <th>Kanta</th>
        <th>Rate</th>
        <th>Freight</th>
        <th>Advance</th>
        <th>Balance</th>
        <th colspan="2"></th>
      </tr>
      </thead>

      <tbody>
      <% @party_invoice.bills.each do |bill| %>
        <tr>
          <td><%= bill.entry.entry_date %></td>
          <td><%= bill.entry.payment_summary.g_r_number %></td>
          <td><%= bill.entry.truck_number %></td>
          <td><%= bill.weight2 %></td>
          <td><%= bill.kanta2 %></td>
          <td><%= bill.entry.rate2 %></td>
          <td><%= bill.freight %></td>
          <td><%= bill.entry.party_advance_2 %></td>
          <td><%= bill.balance %></td>
          <td align="center"><%= link_to 'Show', entry_path(bill.entry), class: 'button small radius' %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <% end %>
    <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#invoiceDateModal">Download PDF</button>
    <% if (current_user.admin? && @party_invoice.invoice_generated) %>
      <%= link_to "Unlock",
                    unlock_party_invoice_path(@party_invoice),
                    method: :put,
                    class: "btn btn-lg btn-primary" %>
    <% end %>
    <%= link_to 'Back', party_invoices_path, class: "btn btn-lg btn-primary" %>
    <div id="invoiceDateModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Enter the invoice date</h4>
          </div>
          <div class="modal-body">
            <%= form_for :party_invoice, url: download_party_invoice_path(@party_invoice, format: "pdf"), formtarget: :_blank, method: :get do |f| %>
              <div class="shift mb-1">
                <%= f.label :invoice_date, class: "required" %>
                <%= f.text_field :invoice_date, "data-date-format" => "dd/mm/yyyy", class: "form-control datepicker", placeholder: "dd/mm/yyyy" %>
              </div>
              <td><%= f.submit 'Download', class: "btn btn-lg btn-primary",  input_html: {"data-dismiss": "modal", "aria-hidden": "true" } %></td>
            <% end %>
          </div>
        </div>

      </div>
  </div>
  </div>
</div>