<% if !@entries.nil? and !@entries.empty? %>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Date</th>
      <th>Truck Number</th>
      <th>Station</th>
      <th>Firm</th>
      <th colspan="2"></th>
    </tr>
    </thead>

    <tbody>
    <% @entries.each do |entry| %>
        <tr>
          <td><%= entry.entry_date %></td>
          <td><%= entry.truck_number %></td>
          <td><%= entry.station %></td>
          <td><%= entry.firm %></td>
          <td align="center"><%= link_to 'Show', entry_path(entry), class: 'button small radius' %></td>
          <td><%= link_to 'Edit', edit_entry_path(entry), class: 'button small radius' %></td>
          <% if entry.payment_summary.nil? %>
              <td><%= link_to 'Add Payment Summary', new_entry_payment_summary_path(entry.id), class: 'button small radius' %></td>
          <% else %>
              <td><%= link_to 'Edit Payment Summary', edit_entry_payment_summary_path(entry.id, entry.payment_summary.id), class: 'button small radius' %></td>
          <% end %>
          <% if entry.bill_entry.nil? %>
              <td><%= link_to 'Add Bill Entry', new_entry_bill_entry_path(entry.id), class: 'button small radius' %></td>
          <% else %>
              <td><%= link_to 'Edit Bill Entry', edit_entry_bill_entry_path(entry.id, entry.bill_entry.id), class: 'button small radius' %></td>
          <% end %>
          <td><%= link_to 'Destroy', entry_path(entry),
                          method: :delete,
                          data: { confirm: 'Are you sure?' }, class: 'button small radius'%></td>
        </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p>No Entries to Display</p>
<% end %>