<div class="jumbotron">
  <div class="heading">
    <h3>Edit Entry</h3>
  </div>

  <%= form_for :entry, url: entry_path(@entry), method: :patch do |f| %>
      <div class="row shift">
        <%= f.label :date %>
        <%= f.text_field :entry_date, "data-date-format" => "dd/mm/yyyy", class: "form-control datepicker", placeholder: "dd/mm/yyyy" %>
      </div>
      <div class="row shift">
        <%= f.label :truck_number %>
        <%= f.text_field :truck_number, class: "form-control" %>
      </div>

      <div class="row shift">
        <%= f.label :station %>
        <%= f.text_field :station, class: "form-control" %>
      </div>

      <div class="row shift">
        <%= f.label :party_code %>
        <%= f.text_field :party_code, class: "form-control" %>
      </div>

      <div class="row shift">
        <%= f.label :self_advance_1 %>
        <%= f.text_field :self_advance_1, class: "form-control" %>
      </div>

      <div class="row shift">
        <%= f.label :party_advance_2 %>
        <%= f.text_field :party_advance_2, class: "form-control" %>
      </div>

      <div class="row shift">
        <%= f.label :rate1 %>
        <%= f.text_field :rate1, class: "form-control" %>
      </div>

      <div class="row shift">
        <%= f.label :rate2 %>
        <%= f.text_field :rate2, class: "form-control" %>
      </div>

      <div class="row shift">
        <%= f.label :commission %>
        <%= f.text_field :commission, class: "form-control" %>
      </div>

      <%= link_to 'Back', entries_path, class: "btn btn-lg btn-primary" %>
      <%= f.submit class: "btn btn-lg btn-primary"%>

  <% end %>
</div>
