<div class="jumbotron">
  <div class="heading">
    <h3>New Entry</h3>
  </div>
  <%= form_for :entry, url: entries_path do |f| %>
      <% if @entry.errors.any? %>
          <div id="error_explanation">
            Please enter valid values
            <ul>
              <% @entry.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="row shift">
        <%= f.label :date %>
        <%= f.text_field :entry_date, placeholder: "dd/mm/yyyy", class: 'flatpickr' %>
      </div>
      <div class="row shift">
        <%= f.label :truck_number %>
        <%= f.text_field :truck_number, class: "form-control" %>
      </div>

      <div class="row shift">
        <%= f.label :station %>
        <%= f.text_field :station, class: "form-control" %>
      </div>

      <div class="row shift">
        <%= f.label :party_code %>
        <%= f.text_field :party_code, class: "form-control" %>
      </div>

      <div class="row shift">
        <%= f.label :self_advance_1 %>
        <%= f.text_field :self_advance_1, class: "form-control" %>
      </div>

      <div class="row shift">
        <%= f.label :party_advance_2 %>
        <%= f.text_field :party_advance_2, class: "form-control" %>
      </div>

      <div class="row shift">
        <%= f.label :rate1 %>
        <%= f.text_field :rate1, class: "form-control" %>
      </div>

      <div class="row shift">
        <%= f.label :rate2 %>
        <%= f.text_field :rate2, class: "form-control" %>
      </div>

      <div class="row shift">
        <%= f.label :commission %>
        <%= f.text_field :commission, class: "form-control" %>
      </div>

      <%= link_to 'Back', entries_path, class: 'btn btn-lg btn-primary', data: {tooltip_display: :true, placement: :bottom}  %>
      <%= f.submit class: "btn btn-lg btn-primary", data: {tooltip_display: :true, placement: :bottom} %>
  <% end %>

</div>

