<div class="invoice">
  <% if entry.company.eql?("jmr") %>
    <h1 class="text-center">JMR Logistics</h1>
    <h3 class="text-center">Shop No 15, Palla More, Alipur, Delhi-110036</h3>
  <% else %>
      <h1 class="text-center">R.K. Gujarat Road Carrier</h1>
      <h3 class="text-center">Narela Road Shop No. 84, Vill. Sanoth, Delhi-110040</h3>
  <% end %>
  <div class="big-font space-mx">
    <div class="row">
      <div class="col-xs-6">
        <p>Invoice No: <%= entry.invoice_number %></p>
      </div>
      <div class="col-xs-6">
        <p class="text-right">Date: <%= entry.invoice_date %></p>
      </div>
    </div>

    <p class="space">Paid to Mr ____________________________&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Truck No&nbsp;&nbsp;&nbsp;<%= entry.truck_number %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Loading Date&nbsp;&nbsp;&nbsp;<%= entry.entry_date %></p>

    <div class="space">
      Payment Mode:&nbsp;&nbsp;&nbsp;&nbsp;<img src="..." height="25" width="25" class="squared">&nbsp;&nbsp;Cash
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="..." height="25" width="25" class="squared">&nbsp;&nbsp;NEFT
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="..." height="25" width="25" class="squared">&nbsp;&nbsp;Cheque (CH.No. ______________________)
    </div>
    <div class="space-mx">
      <table class="table table-condensed">
        <tbody>
          <tr class="table-space">
            <td>Total Freight ( <%= entry.payment_summary.weight %> * <%= entry.rate1 %> + <%= entry.payment_summary.kanta %> )</td>
            <td class="text-right"><%= entry.freight1 %></td>
          </tr>
          <tr class="table-space">
            <td>Advance</td>
            <td class="text-right">- <%= entry.self_advance_1 %></td>
          </tr>
          <tr class="table-space">
            <td>CD</td>
            <td class="text-right">- <%= entry.cash_to_driver %></td>
          </tr>
          <tr class="table-space">
            <td>Commission</td>
            <td class="text-right">- <%= entry.commission %></td>
          </tr>
          <tr class="table-space">
            <td>Payment Charges</td>
            <td class="text-right">- <%= entry.payment_summary.payment_charges %></td>
          </tr>
          <tr class="table-space">
            <td>Shortage</td>
            <td class="text-right">- <%= entry.payment_summary.shortage2 %></td>
          </tr>
          <tr class="table-space">
            <td>Balance Amount Paid (Rupees)</td>
            <td class="border text-right"> <%= entry.paid_to_truck_owner %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="space-mx">
      I hearby confirm that no payment is due with respect to above bill.
    </div>

    <div class="bottom">
      <p class="pull-right">Signature _______________________</p>
    </div>
  </div>
</div>
<div class="bill-split"></div>
<div class="invoice">
  <% if entry.company.eql?("jmr") %>
      <h1 class="text-center">JMR Logistics</h1>
      <h3 class="text-center">Shop No 15, Palla More, Alipur, Delhi-110036</h3>
  <% else %>
      <h1 class="text-center">R.K. Gujarat Road Carrier</h1>
      <h3 class="text-center">Narela Road Shop No. 84, Vill. Sanoth, Delhi-110040</h3>
  <% end %>
  <div class="big-font space-mx">
    <div class="row">
      <div class="col-xs-6">
        <p>Invoice No: <%= entry.invoice_number %></p>
      </div>
      <div class="col-xs-6">
        <p class="text-right">Date: <%= Date.today.to_s %></p>
      </div>
    </div>

    <p class="space">Paid to Mr ____________________________&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Truck No&nbsp;&nbsp;&nbsp;<%= entry.truck_number %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Loading Date&nbsp;&nbsp;&nbsp;<%= entry.entry_date %></p>

    <div class="space">
      Payment Mode:&nbsp;&nbsp;&nbsp;&nbsp;<img src="..." height="25" width="25" class="squared">&nbsp;&nbsp;Cash
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="..." height="25" width="25" class="squared">&nbsp;&nbsp;NEFT
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="..." height="25" width="25" class="squared">&nbsp;&nbsp;Cheque (CH.No. ______________________)
    </div>
    <div class="space-mx">
      <table class="table">
        <tbody>
        <tr class="table-space">
          <td>Total Freight ( <%= entry.payment_summary.weight %> * <%= entry.rate1 %> + <%= entry.payment_summary.kanta %> )</td>
          <td class="text-right"><%= entry.freight1 %></td>
        </tr>
        <tr class="table-space">
          <td>Advance</td>
          <td class="text-right">- <%= entry.self_advance_1 %></td>
        </tr>
        <tr class="table-space">
          <td>CD</td>
          <td class="text-right">- <%= entry.cash_to_driver %></td>
        </tr>
        <tr class="table-space">
          <td>Commission</td>
          <td class="text-right">- <%= entry.commission %></td>
        </tr>
        <tr class="table-space">
          <td>Payment Charges</td>
          <td class="text-right">- <%= entry.payment_summary.payment_charges %></td>
        </tr>
        <tr class="table-space">
          <td>Shortage</td>
          <td class="text-right">- <%= entry.payment_summary.shortage2 %></td>
        </tr>
        <tr class="table-space">
          <td>Balance Amount Paid (Rupees)</td>
          <td class="border text-right"> <%= entry.paid_to_truck_owner %></td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="space-mx">
      I hearby confirm that no payment is due with respect to above bill.
    </div>

    <div class="bottom">
      <p class="pull-right">Signature _______________________</p>
    </div>
  </div>
</div>