<div class="invoice">
  <h1 class="text-center">JMR Logistics</h1>
  <h3 class="text-center">Shop No 15, Palla More, Alipur, Delhi-110036</h3>
  <div class="big-font space-mx">
    <div class="row">
      <div class="col-xs-6">
        <p>Voucher No: ___________________</p>
      </div>
      <div class="col-xs-6">
        <p class="text-right">Date: <%= Date.today.to_s %></p>
      </div>
    </div>

    <p class="space">Paid to Mr _______________________ Truck No  <%= entry.truck_number %> Loading Date <%= entry.date %></p>

    <div class="space">
      Payment Mode:&nbsp;&nbsp;&nbsp;&nbsp;<img src="checkbox_unchecked" height="25" width="25">&nbsp;&nbsp;Cash
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="checkbox_unchecked" height="25" width="25">&nbsp;&nbsp;NEFT
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="checkbox_unchecked" height="25" width="25">&nbsp;&nbsp;Cheque (CH.No. ______________________)
    </div>
    <div class="space-mx">
      <table class="table">
        <tbody>
          <tr class="table-space">
            <td>Total Freight ( <%= entry.payment_summary.weight %> * <%= entry.rate1 %> + <%= entry.payment_summary.kanta %> )</td>
            <td class="text-center"><%= entry.freight1 %></td>
          </tr>
          <tr class="table-space">
            <td>Advance</td>
            <td class="text-center">- <%= entry.self_advance_1 %></td>
          </tr>
          <tr class="table-space">
            <td>CD</td>
            <td class="text-center">- <%= entry.cash_to_driver %></td>
          </tr>
          <tr class="table-space">
            <td>Commission</td>
            <td class="text-center">- <%= entry.commission %></td>
          </tr>
          <tr class="table-space">
            <td>Payment Charges</td>
            <td class="text-center">- <%= entry.payment_summary.payment_charges %></td>
          </tr>
          <tr class="table-space">
            <td>Balance Amount Paid (Rupees)</td>
            <td class="border text-center"> <%= entry.paid_to_truck_owner %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="space-mx">
      I hearby confirm that no payment is due with respect to above bill.
    </div>

    <div class="bottom">
      <p class="pull-right">Signature _______________________</p>
    </div>
  </div>
</div>
<div class="bill-split"></div>
<div class="invoice">
  <h1 class="text-center">JMR Logistics</h1>
  <h3 class="text-center">Shop No 15, Palla More, Alipur, Delhi-110036</h3>
  <div class="big-font space-mx">
    <div class="row">
      <div class="col-xs-6">
        <p>Voucher No: ___________________</p>
      </div>
      <div class="col-xs-6">
        <p class="text-right">Date: <%= Date.today.to_s %></p>
      </div>
    </div>

    <p class="space">Paid to Mr _______________________ Truck No  <%= entry.truck_number %> Loading Date  <%= entry.date %></p>

    <div class="space">
      Payment Mode:&nbsp;&nbsp;&nbsp;&nbsp;<img src="checkbox_unchecked" height="25" width="25">&nbsp;&nbsp;Cash
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="checkbox_unchecked" height="25" width="25">&nbsp;&nbsp;NEFT
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="checkbox_unchecked" height="25" width="25">&nbsp;&nbsp;Cheque (CH.No. ______________________)
    </div>
    <div class="space-mx">
      <table class="table">
        <tbody>
        <tr class="table-space">
          <td>Total Freight ( <%= entry.payment_summary.weight %> * <%= entry.rate1 %> + <%= entry.payment_summary.kanta %> )</td>
          <td class="text-center"><%= entry.freight1 %></td>
        </tr>
        <tr class="table-space">
          <td>Advance</td>
          <td class="text-center">- <%= entry.self_advance_1 %></td>
        </tr>
        <tr class="table-space">
          <td>CD</td>
          <td class="text-center">- <%= entry.cash_to_driver %></td>
        </tr>
        <tr class="table-space">
          <td>Commission</td>
          <td class="text-center">- <%= entry.commission %></td>
        </tr>
        <tr class="table-space">
          <td>Payment Charges</td>
          <td class="text-center">- <%= entry.payment_summary.payment_charges %></td>
        </tr>
        <tr class="table-space">
          <td>Balance Amount Paid (Rupees)</td>
          <td class="border text-center"> <%= entry.paid_to_truck_owner %></td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="space-mx">
      I hearby confirm that no payment is due with respect to above bill.
    </div>

    <div class="bottom">
      <p class="pull-right">Signature _______________________</p>
    </div>
  </div>
</div>