<div class="jumbotron">
  <div class="heading-2" style="text-align:right;width:100%">
    <span style="float:left">
      <h4>Entry</h4>
    </span>
    <p style="float:right; font-size:13px;"><%= link_to 'Edit Entry', edit_entry_path(@entry) %></p>
  </div>
  <div class="show">
    <table class="table table-striped">
      <tr>
        <td class="row-right">
          <strong>Date:</strong>
        </td>
        <td>
          <%= @entry.entry_date %>
        </td>
        <td class="row-right">
          <strong>Commission:</strong>
        </td>
        <td>
          <%= @entry.commission %>
        </td>
    </tr>

      <tr>
        <td class="row-right">
          <strong>Truck Number:</strong>
        </td>
        <td>
          <%= @entry.truck_number %>

        </td>
        <td class="row-right">
          <strong>Self Advance:</strong>
        </td>
        <td>
          Rs <%= @entry.self_advance_1 %>
        </td>
      </tr>
      <tr>
        <td class="row-right">
          <strong>Station:</strong>
        </td>
        <td>
          <%= @entry.station %>
        </td>
        <td class="row-right">
          <strong>Party Advance:</strong>
        </td>
        <td>
          Rs <%= @entry.party_advance_2 %>
        </td>
      </tr>
      <tr>
        <td class="row-right">
          <strong>Party Code:</strong>
        </td>
        <td>
          <%= @entry.party_code %>
        </td>
        <td class="row-right">
          <strong>Firm:</strong>
        </td>
        <td>
          <%= @entry.firm_name %>
        </td>
      </tr>

      <tr>
        <td class="row-right">
          <strong>Rate1:</strong>
        </td>
        <td>
          Rs <%= @entry.rate1 %>
        </td>
        <td class="row-right">
          <strong>Rate2:</strong>
        </td>
        <td>
          Rs <%= @entry.rate2 %>
        </td>
      </tr>
    </table>
  </div>
  <% if @entry.payment_summary.nil? %>
    <div>
      <div class="heading-2">
        <h4>G R Entry</h4>
      </div>
      <div class="align-center">
        <%= link_to 'Add Payment Summary', new_entry_payment_summary_path(@entry.id) %>
      </div>
    </div>
  <% else %>
    <div>
      <div class="heading-2" style="text-align:right;width:100%">
        <span style="float:left">
          <h4>G R Entry</h4>
        </span>
        <p style="float:right; font-size:13px;"><%= link_to 'Edit Payment Summary', edit_entry_payment_summary_path(@entry.id, @entry.payment_summary) %></p>
      </div>
      <%= render 'payment_summaries/show' %>
    </div>

    <div>
      <div class="heading-2">
        <h4>Payments</h4>
      </div>
      <%= render 'entries/details' %>
    </div>
  <% end %>
  <% if @entry.bill_entry.nil? %>
    <div>
      <div class="heading-2">
        <h4>Bill Entry</h4>
      </div>
      <div class="align-center">
        <%= link_to 'Add Bill Entry', new_entry_bill_entry_path(@entry.id) %>
      </div>
    </div>
  <% else %>
    <div>
      <div class="heading-2">
        <h4>Bill Entry</h4>
      </div>
      <%= render 'bill_entries/show' %>
    </div>
  <% end %>

  <% if @entry.bill.nil? %>
    <div>
      <div class="heading-2">
        <h4>Bill Details</h4>
      </div>
      <div class="align-center">
        <%= link_to 'Add Bill', new_entry_bill_path(@entry.id) %>
      </div>
    </div>
  <% else %>
    <div>
      <div class="heading-2" style="text-align:right;width:100%">
        <span style="float:left">
          <h4>Bill Details</h4>
        </span>
        <p style="float:right; font-size:13px;"><%= link_to 'Edit Bill Details', edit_entry_bill_path(@entry.id, @entry.bill.id) %></p>
      </div>
      <%= render 'bills/show' %>
    </div>
  <% end %>
  <% if !@entry.payment_summary.nil? %>
    <% if @entry.company.nil? %>
      <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#myModal">Download PDF</button>
    <% else %>
      <%= link_to "Download PDF",
        entry_download_path(@entry, format: "pdf"),
        target: "_blank",
        class: "btn btn-lg btn-primary" %>
    <% end %>

    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

          <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Select Company</h4>
          </div>
          <div class="modal-body">
            <%= form_for :entry, url: entry_download_path(@entry, format: "pdf"), formtarget: :_blank, method: :get do |f| %>
                <%= radio_button_tag(:company, "jmr", true) %>
                <%= label_tag(:jmr, "JMR Logistics") %>
                <br>
                <%= radio_button_tag(:company, "gujarat", false) %>
                <%= label_tag(:gujarat, "R.K. Gujarat Road Carrier") %>
                <br>
                <td><%= f.submit 'Download', class: "btn btn-lg btn-primary",  input_html: {"data-dismiss": "modal", "aria-hidden": "true" } %></td>
            <% end %>
          </div>
        </div>

      </div>
    </div>

<% end %>

  <%= link_to 'Back', entries_path, class: "btn btn-lg btn-primary" %>
</div>