<div class="jumbotron">
  <div class="heading-2">
    <h4>Entry</h4>
  </div>
  <div class="show">
    <table class="table table-striped">
      <tr>
        <td class="row-right">
          <strong>Date:</strong>
        </td>
        <td>
          <%= @entry.date %>
        </td>
        <td class="row-right">
          <strong>Commission:</strong>
        </td>
        <td>
          <%= @entry.commission %>
        </td>
    </tr>

      <tr>
        <td class="row-right">
          <strong>Truck Number:</strong>
        </td>
        <td>
          <%= @entry.truck_number %>

        </td>
        <td class="row-right">
          <strong>Self Advance:</strong>
        </td>
        <td>
          Rs <%= @entry.self_advance_1 %>
        </td>
      </tr>
      <tr>
        <td class="row-right">
          <strong>Station:</strong>
        </td>
        <td>
          <%= @entry.station %>
        </td>
        <td class="row-right">
          <strong>Party Advance:</strong>
        </td>
        <td>
          Rs <%= @entry.party_advance_2 %>
        </td>
      </tr>
      <tr>
        <td class="row-right">
          <strong>Truck Owner:</strong>
        </td>
        <td>
          <%= @entry.truck_owner %>
        </td>
        <td class="row-right">
          <strong>Rate1:</strong>
        </td>
        <td>
          Rs <%= @entry.rate1 %>
        </td>
      </tr>

      <tr>
        <td class="row-right">
          <strong>Firm:</strong>
        </td>
        <td>
          <%= @entry.firm %>
        </td>
        <td class="row-right">
          <strong>Rate2:</strong>
        </td>
        <td>
          Rs <%= @entry.rate2 %>
        </td>
      </tr>
    </table>
  </div>
  <% if @entry.payment_summary.nil? %>
    <div>
      <div class="heading-2">
        <h4>G R Entry</h4>
      </div>
      <div class="align-center">
        <%= link_to 'Add Payment Summary', new_entry_payment_summary_path(@entry.id) %>
      </div>
    </div>

    <div>
      <div class="heading-2">
        <h4>G R Entry</h4>
      </div>
      Please fill payment Summary first.
    </div>
  <% else %>
    <div>
      <div class="heading-2">
        <h4>G R Entry</h4>
      </div>
      <%= render 'payment_summaries/show' %>
    </div>

    <div>
      <div class="heading-2">
        <h4>Payments</h4>
      </div>
      <%= render 'entries/details' %>
    </div>
  <% end %>
  <% if @entry.bill_entry.nil? %>
    <div>
      <div class="heading-2">
        <h4>Bill Entry</h4>
      </div>
      <div class="align-center">
        Add Bill Entry
      </div>
    </div>
  <% else %>
    <div>
      <div class="heading-2">
        <h4>Bill Entry</h4>
      </div>
      <%= render 'bill_entries/show' %>
    </div>
  <% end %>
  <% if !@entry.payment_summary.nil? %>
    <%= link_to "Download PDF",
              entry_download_path(@entry, format: "pdf"),
              target: "_blank",
              class: "btn btn-lg btn-primary" %>
  <% end %>

  <%= link_to 'Back', entries_path, class: "btn btn-lg btn-primary" %>
</div>