<div class="jumbotron">
  <div class="heading">
    <h3>Add Truck Details</h3>
  </div>
  <%= form_for :truck_detail, url: truck_details_path do |f| %>
      <% if @truck_detail.errors.any? %>
          <div id="error_explanation">
            Please enter valid values
            <ul>
              <% @truck_detail.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="row shift">
        <%= f.label :truck_number %>
        <%= f.text_field :truck_number, class: "form-control" %>
      </div>

      <div class="row shift">
        <%= f.label :truck_owner %>
        <%= f.text_field :truck_owner, class: "form-control" %>
      </div>

      <%= link_to 'Back', truck_details_path, class: 'btn btn-lg btn-primary' %>
      <%= f.submit class: "btn btn-lg btn-primary"%>
  <% end %>

</div>

