<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">JMR Logistics</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li> <%= link_to 'New Entry', new_entry_path %></li>
        <li> <%= link_to 'Add Truck Detail', new_truck_detail_path %></li>
        <li> <%= link_to 'Truck List', truck_details_path %></li>
        <li> <%= link_to 'New Party', new_party_path %></li>
        <li> <%= link_to 'Party List', parties_path %></li>
        <li> <%= link_to 'Party Invoices', party_invoices_path %></li>
        <li> <%= link_to 'Search', search_entries_path %></li>
        <% if user_signed_in? %>
          <li>
            <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
          </li>
        <% else %>
          <li>
            <%= link_to('Login', new_user_session_path)  %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>