<div class="show">
  <table class="table table-striped">
    <tr>
      <td class="row-right">
        <strong>Party Code:</strong>
      </td>
      <td>
        <%= @entry.bill.party_code %>
      </td>

      <td class="row-right">
        <strong>Bill Number:</strong>
      </td>
      <td>
        <%= @entry.bill.bill_number %>
      </td>
    </tr>
    <tr>
      <td class="row-right">
        <strong>Weight2:</strong>
      </td>
      <td>
        <%= @entry.bill.weight2 %>
      </td>

      <td class="row-right">
        <strong>Kanta2:</strong>
      </td>
      <td>
        <%= @entry.bill.kanta2 %>
      </td>
    </tr>
    <tr>
      <td class="row-right">
        <strong>Rate2:</strong>
      </td>
      <td>
        <%= @entry.bill.rate2 %>
      </td>

      <td class="row-right">
        <strong>TDS %:</strong>
      </td>
      <td>
        <%= @entry.bill.tds_percentage %>
      </td>
    </tr>
    <tr>
      <td class="row-right">
        <strong>Freight:</strong>
      </td>
      <td>
        <%= @entry.bill.freight %>
      </td>

      <td class="row-right">
        <strong>Balance:</strong>
      </td>
      <td>
        <%= @entry.bill.balance %>
      </td>
    </tr>
  </table>
</div>
