<div class="jumbotron">
  <div class="heading">
    <h3>Edit Bill Entry</h3>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <dl class="dl-horizontal">
        <dt>Truck Number:</dt>
        <dd><%= @entry.truck_number %></dd>
      </dl>
    </div>
    <div class="col-xs-6">
      <dl class="dl-horizontal">
        <dt>Date:</dt>
        <dd><%= @entry.entry_date %></dd>
      </dl>
    </div>
  </div>
  <%= form_for([@entry, @bill_entry]) do |f| %>
      <% if @bill_entry.errors.any? %>
          <div id="error_explanation">
            Please enter valid values
            <ul>
              <% @bill_entry.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="row shift">
        <%= f.label :bill_no, class: "right inline" %>
        <%= f.text_field :bill_no, class: "form-control" %>
      </div>
      <div class="row shift">
        <%= f.label "TDS%" %>
        <%= f.text_field :tds_percentage,  class: "form-control" %>
      </div>

      <div class="row shift">
        <%= f.label :bill_payment %>
        <%= f.text_field :bill_payment, value: @entry.bill_payment, readonly: true, class: "form-control" %>
      </div>

      <div class="row shift">
        <%= f.label :payment_received_at %>
        <%= f.text_field :payment_received_at, "data-date-format" => "dd/mm/yyyy", class: "form-control datepicker", placeholder: "dd/mm/yyyy" %>
      </div>

      <%= link_to 'Back', entries_path, class: "btn btn-lg btn-primary" %>
      <%= f.submit class: "btn btn-lg btn-primary"%>
  <% end %>

</div>