<div class="jumbotron">
  <div class="heading">
    <h3>Edit Payment Receipt</h3>
  </div>

  <%= form_for :payment_receipt, url: payment_receipt_path(@payment_receipt), method: :patch do |f| %>
    <div class="row shift">
      <%= f.label :party_code %>
      <%= f.text_field :party_code, class: "form-control payment-receipt-field" %>
      <div style="text-align:right;width:100%">
        <p class="party-name" style="float:right; font-size:14px;"></p>
      </div>
    </div>

    <div class="row shift">
      <%= f.label :date %>
      <%= f.text_field :date, "data-date-format" => "dd/mm/yyyy", class: "form-control datepicker", placeholder: "dd/mm/yyyy" %>
    </div>

    <div class="row shift mt-1">
      <%= f.label 'Mode of Payment:' %>
      <%= f.select :mode_of_payment, PaymentReceipt.mode_of_payments.map {|k,v| v}, selected: PaymentReceipt.mode_of_payments[@payment_receipt.mode_of_payment.to_sym], class: "form-control" %>
    </div>

    <div class="row shift cheque-details hidden">
      <%= f.label :cheque_number %>
      <%= f.text_field :cheque_number, class: "form-control" %>
    </div>

    <div class="row shift">
      <%= f.label :amount %>
      <%= f.text_field :amount, class: "form-control" %>
    </div>

    <%= link_to 'Back', payment_receipts_path, class: "btn btn-lg btn-primary" %>
    <%= f.submit class: "btn btn-lg btn-primary"%>

  <% end %>
</div>
